body {
	background-color: white;
	font-family: Calibri;
}
h1 {
	color: dimgray;
	text-align: center;
}
h4 {
	color: dimgray;
	text-align: center;
}
img {
	max-width: 100%;
	max-height: 100%;
}
p {
	color: dimgray;
	text-align: left;
}

.container {
    position: relative;
    text-align: center;
    color: white;
}

.bottom-center {
    position: absolute;
    bottom: 5%;
    right: 5%;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}